@font-face {
  font-family: "Muller";
  src: url('/assets/fonts/MullerRegular.eot') format("eot"),
    url("/assets/fonts/MullerRegular.ttf") format('ttf'),
    url("/assets/fonts/MullerRegular.woff") format("woff"),
    url("/assets/fonts/MullerRegular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url('/assets/fonts/MullerBold.eot') format("eot"),
  url("/assets/fonts/MullerBold.ttf") format('ttf'),
  url("/assets/fonts/MullerBold.woff") format("woff"),
  url("/assets/fonts/MullerBold.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: 'Muller', sans-serif;
  font-weight: normal;
}
html{
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: bold;
  margin: 0;
}
h1{
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}
h2{
  font-size: $h2-font-size;
}
h3{
  font-size: $h3-font-size;
}
h4{
  font-size: $h4-font-size;
}
h5{
  font-size: $h5-font-size;
}
