html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
h1{
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: 800;
}
h2{
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: 400;
}
h3{
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: 700;
}
h4{
  font-size: $h4-font-size;
}
h5{
  font-size: $h5-font-size;
}

.title{
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 5.9rem;
  color: #333;
}
