a{
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn{
  border: 0;
  border-radius: 5px;
  padding: 1.8rem 4.5rem;

  text-align: center;
  color: #fff;
  cursor: pointer;
}

.btn-primary{
  background: #F08723;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;
  &:hover{
    background: #FD9839;
  }
}

.btn-default{
  background: #303030;
  border: 1px solid #fff;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;
  &:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
}



.checkbox{
  &__label{
    display: flex;
    align-items: center;
    padding-left: 41px;
    position: relative;
  }
  &__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  &__style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid #91A0B7;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__input:checked + &__style::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    @include background-image('./../images/icons/checkbox.svg', 'center', '');
    background-position: center;
  }
}


.hidden{
  display: none !important;
}
