// COLORS
$color-main: #00183C;
$color-accent: #FFD0A4;
$color-additional: #91A0B7;
$color-gray: #BABABA;

// FONTS
$h1-font-size: 4.8rem;
$h1-line-height: 9.6rem;

$h2-font-size: 3.2rem;
$h3-font-size: 2.8rem;
$h4-font-size: 2.4rem;
$h5-font-size: 1.8rem;
