.advantages{
  margin-bottom: 70px;

  &__title{
    margin-bottom: 2rem;
  }

  &__list{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px 23px;
  }
  &__item{
    width: 275px;
    height: 275px;
    background-color: #fff;
    border-radius: 10px;
  }
  &__item-text{
    color: #333333;
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin: 44px 44px 44px 40px;
  }
}

.advantages__item-icon{
  display: block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;

  &-1{
    background-image: url('./../img/icon-advantages-1.png');
  }
  &-2{
    background-image: url('./../img/icon-advantages-2.png');
  }
  &-3{
    background-image: url('./../img/icon-advantages-3.png');
  }
  &-4{
    background-image: url('./../img/icon-advantages-4.png');
  }
  &-5{
    background-image: url('./../img/icon-advantages-5.png');
  }
  &-6{
    background-image: url('./../img/icon-advantages-6.png');
  }
  &-7{
    background-image: url('./../img/icon-advantages-7.png');
  }
  &-8{
    background-image: url('./../img/icon-advantages-8.png');
  }
}
