.contacts {
  margin-bottom: 22px;

  &__title{
    margin-bottom: 3.2rem;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__row{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 27px 0;
    border-bottom: 1px solid #ccc;
  }
  &__btn{
    margin-top: 45px;
    padding: 27px 29px;
  }
}

.contacts__info {
  flex: 0 1 472px;
  background-color: #fff;
  padding: 17px 45px 44px;
  border-radius: 12px;
  width: 340px;
  &-title {
    color: #666;
    font-size: 2.2rem;
    font-weight: bold;
    width: 145px;
    white-space: nowrap;
  }
  &-text{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #333;
    width: 300px;
  }

  &-text a{
    color: $color-main;
  }
}

.text-light{
  color: #999999;
}

.contacts__form{
  max-width: 674px;
  width: 100%;
  text-align: center;

  &-title{
    margin-left: auto;
    margin-bottom: 4.7rem;
  }

  & form{
    display: flex;
    flex-direction: column;
  }

  &-input,
  &-textarea{
    width: 382px;
    border: none;
    border-radius: 12px;
    padding: 25px 21px;
    font-size: 1.6rem;
    line-height: 1;
    margin: 0 auto 2.3rem;
  }

  &-input{
    height: 70px;
  }

  &-textarea{
    padding-top: 24px;
    height: 110px;
  }

  &-btn{
    width: 382px;
    padding: 27px 0;
    margin: 0 auto;
  }
}
