.header{
  &__inner{
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  &__nav{
    display: flex;
    margin-left: auto;
  }
}

.nav{
  &__list{
    display: flex;
    align-items: center;
  }

  &__item{
    margin-right: 85px;
    border-bottom: 2px solid transparent;


    &:hover{
      border-bottom: 2px solid $color-main;
    }


  }

  &__link{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: #333333;

    &:focus{
      outline: 2px solid $color-main;
    }
  }
}

.search-form{
  z-index: 100;
  &__inner{
    display: none;
    background-color: #fff;
    padding: 16px 13px 16px 32px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    width: 540px;
    position: absolute;
    bottom: 0;
    right: 0;

  }

  &__inner--open{
    display: flex;
    align-items: center;
  }
  &__input{
    border: none;
    width: 412px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-right: 14px;
  }

  &__open-btn{
    margin: 0;
    border: none;
    padding: 4px;
    background-color: transparent;
    cursor: pointer;

    &:hover{

    }
  }
}

.search__btn{
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  &:focus{
    outline: 2px solid $color-main;
  }
}

.btn{
  &-search{
    margin-right: 20px;
  }
}
