.offer {
  margin-bottom: 69px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__form-wrapper {
    margin-right: 55px;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__input {
    height: 70px;
    background-color: #fff;
    margin-bottom: 2.4rem;
    border-radius: 12px;
    padding-left: 2rem;
    font-size: 1.6rem;
    border: 1px solid #fff;

    &::placeholder {
      color: #999999;
    }
  }

  &__btn {
    margin-right: 3rem;
    padding: 25px 30px;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__available {
    color: #999;
    font-size: 1.6rem;
  }

  &__available span {
    color: $color-main;
  }
}

.offer__premium {

  &-wrapper{
  }

  &-item {
    position: relative;
  }

  &-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-title {
    color: #fff;
    font-size: 6.6rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 4rem;
    flex: 0 1 80%;
  }

  &-price {
    font-size: 3.5rem;
    margin-right: 35px;
    color: rgba(255, 255, 255, 0.5);
  }

  &-more {
    color: #ffcc66;
  }
}

.icon-arrow-right {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("./../img/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
