.services{
  margin-bottom: 70px;

  &__list{
    display: flex;
    flex-wrap: wrap;
  }
}

.services__item{
  flex: 1 1 45%;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;

  &:first-child,
  &:nth-child(2){
    margin-bottom: 24px;
  }

  &:first-child,
  &:nth-child(3){
    margin-right: 24px;
  }

  &-inner{
    padding: 35px 60px 35px 45px;
  }

  &-img img{
    width: 100%;
  }

  &-title{
    display: inline-block;
    color: $color-main;
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-bottom: 12px;
  }

  &-text{
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}

.icon-arrow-right-dark{
  background-image: url("./../img/icon-arrow-right-dark.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 9px;
  height: 16px;
  margin-left: 50px;
  vertical-align: middle;

}
