<nav class="nav">
  <a href="#" class="logo">
    <img src="./assets/img/logo.svg" alt="">
  </a>
  <div class="search-form">
    <form action="#">
      <input type="text" class="search-form__input" placeholder="Want to learn?">
      <div class="search-form__explore-menu">
        <span>Explore</span>
      </div>
    </form>
  </div>
  <ul class="main-menu">
    <li class="main-menu__item">
      <a href="#" class="main-menu__link">Program</a>
    </li>
    <li class="main-menu__item">
      <a href="#" class="main-menu__link">Enterprise</a>
    </li>
    <li class="main-menu__item">
      <a href="#" class="main-menu__link">Universities</a>
    </li>
  </ul>
  <div class="user-account">
    <a href="#" class="user-account__link">Sign in</a>
    <button class="user-account__btn btn btn-primary btn-small">Create free account</button>
  </div>
</nav>
