<section class="advantages">
    <div class="container">
        <h2 class="advantages__title">Преимущества</h2>
        <div class="advantages__list">
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-1"></i>
                    Идейные соображения высшего порядка, а также постоянный количественный рост
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-2"></i>
                    Значимость этих проблем настолько очевидна, что вопрос остается открытым
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-3"></i>
                    Таким образом реализация плановых заданий играет важную роль для понимания
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-4"></i>
                    Повседневная практика показывает, что сложившаяся структура организации
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-5"></i>
                    Равным образом рамки и место обучения кадров способствует подготовки сотрудника
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-6"></i>
                    Консультация с активом влечет за собой процесс внедрения услуг нашего сервиса
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-7"></i>
                    Повседневная практика показывает, что дальнейшее развитие различных форм
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-text">
                    <i class="advantages__item-icon advantages__item-icon-8"></i>
                    Значимость этого настолько очевидна, что консультация наших экспертов помогает
                </div>
            </div>
        </div>
    </div>
</section>
