<section class="contacts">
  <div class="container">
    <div class="contacts__title">Контакты</div>
    <div class="contacts__inner">
      <div class="contacts__info">
        <div class="contacts__row">
          <div class="contacts__info-title">Адрес</div>
          <div class="contacts__info-text">Москва, улица Юности, дом 5 строение 4, офис 2</div>
        </div>
        <div class="contacts__row">
          <div class="contacts__info-title">Телефоны</div>
          <div class="contacts__info-text">
            <a href="tel:+74995356434">+7 (499) 535-64-34</a>
            <br>
            <a href="tel:+74950050544">+7 (495) 005-05-44</a>
          </div>
        </div>
        <div class="contacts__row">
          <div class="contacts__info-title">E-mail</div>
          <div class="contacts__info-text text-light">
            <a href="mailto:lg.oona@mail.ru">lg.oona@mail.ru</a> по вопросам
            бронирования
            <a href="mailto:hotels.ln@mail.ru">hotels.ln@mail.ru</a> по вопросам сотрудничества
          </div>
        </div>
        <div class="contacts__row">
          <div class="contacts__info-title">График</div>
          <div class="contacts__info-text">
            Понедельник - пятница,<br>
            с 10:0 до 19:00
          </div>
        </div>
        <button class="contacts__btn btn btn-default">Построить маршрут</button>
      </div>
      <div class="contacts__form">
        <div class="contacts__form-title">Напишите нам</div>
        <form action="#">
          <input type="text" class="contacts__form-input" placeholder="Имя">
          <input type="tel" class="contacts__form-input" placeholder="+7">
          <textarea name="" id="" cols="30" rows="10" class="contacts__form-textarea" placeholder="Сообщение..."></textarea>
          <button class="contacts__form-btn btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
