<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col">
                <a href="" class="logo footer__logo"><img src="" alt=""></a>
                <nav class="footer-menu">
                    <ul class="footer-menu__list">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">О нас</a></li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Проекты</a></li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Отзывы</a></li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Договор оферты</a></li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Договор подряда</a></li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Конфиденциальность</a></li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Партнёрское соглашение</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-social">
                    <ul class="footer-social__list">
                        <li class="footer-social__item">
                            <a href="#" class="footer-social__link">
                                <img src="" alt="" class="footer-social__img">
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a href="#" class="footer-social__link">
                                <img src="" alt="" class="footer-social__img">
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a href="#" class="footer-social__link">
                                <img src="" alt="" class="footer-social__img">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col">
                <form class="footer-form" action="#">
                    <h2 class="title footer__title+"></h2>
                    <input type="text" class="footer-form__input">
                    <input type="email" class="footer-form__input">
                    <textarea class="footer-form__textarea"></textarea>
                    <button class="btn btn-primary footer-form__btn"></button>
                    <input type="checkbox" class="footer-form__checkbox">
                </form>
            </div>
            <div class="footer__col">
                Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                факта: разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение модели
                развития. Таким образом, консультация с широким активом обеспечивает широкому кругу (специалистов)
                участие в формировании стандартных подходов.
            </div>
        </div>
    </div>
</footer>
