<footer>
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__copyright">
                <p>© 2012-2020 Управляющая компания Объединенной сети «Лагуна Хотелс»</p>
                <p>Представленная на сайте информация
                    носит справочный характер
                    и не является публичной офертой</p>
                <a class="footer__link" href="#">Политика конфиденциальности</a>
            </div>
            <div class="footer__contacts">
                <p>11710, улица Юности, дом 5 строение 4, офис 2</p>

                <p>
                    <a class="footer__link" href="tel:+74995356434">+7 (499) 535-64-34</a>
                    <a class="footer__link" href="tel:+74950050544">+7 (495) 005-05-44</a>
                </p>
                <p>
                    <a class="footer__link" href="mailto:lg.oona@mail.ru">lg.oona@mail.ru</a>
                    <a class="footer__link" href="mailto:hotels.ln@mail.ru">hotels.ln@mail.ru</a>
                </p>
            </div>
            <div class="footer__social">
                <i class="footer__social-icon footer__social-tripadvisor"></i>
                <i class="footer__social-icon footer__social-twitter"></i>
                <i class="footer__social-icon footer__social-facebook"></i>
                <i class="footer__social-icon footer__social-vk"></i>
                <i class="footer__social-icon footer__social-google"></i>
            </div>
        </div>
    </div>
</footer>
