<header class="header">
    <div class="container">
        <div class="header-top">
            <img src="./assets/img/logo.png" alt="Logo" class="header__logo">
            <a class="header__phone" href="tel:+74953225448">+7 495 322 54 48</a>
            <a class="header__login" href="#">Личный кабинет</a>
        </div>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__links" href="#">О нас</a>
          </li>
          <li class="header__list-item">
            <a class="header__links" href="#">Услуги</a>
          </li>
          <li class="header__list-item">
            <a class="header__links" href="#">Преимущества</a>
          </li>
          <li class="header__list-item">
            <a class="header__links" href="#">Размещение</a>
          </li>
          <li class="header__list-item">
            <a class="header__links" href="#">Блог</a>
          </li>
          <li class="header__list-item">
            <a class="header__links" href="#">Контакты</a>
          </li>
        </ul>
        <form action="#" class="header__search-form">
          <div class="search-form__wrapper">
            <input type="text" class="search-form__input" placeholder="Поиск">
            <button class="search-form__search-btn"><i class="icon-search"></i></button>
          </div>
        </form>
      </nav>
    </div>
</header>
