<header class="header-top">
    <div class="container">
        <div class="header-top__inner">
            <img src="./assets/img/logo.png" alt="Logo" class="header-top__logo">
            <div class="header-top__phone"><a href="tel:+74953225448">+7 495 322 54 48</a></div>
            <div class="header-top__login">Личный кабинет</div>
        </div>

      <nav class="header-top__nav">
        <div class="header-top__list">
          <div class="header-top__li">
            <div class="header-top__links">О нас</div>
          </div>
          <div class="header-top__li">
            <div class="header-top__links">Услуги</div>
          </div>
          <div class="header-top__li">
            <div class="header-top__links">Преимущества</div>
          </div>
          <div class="header-top__li">
            <div class="header-top__links">Размещение</div>
          </div>
          <div class="header-top__li">
            <div class="header-top__links">Блог</div>
          </div>
          <div class="header-top__li">
            <div class="header-top__links">Контакты</div>
          </div>
        </div>
        <form action="#" class="header-top__search-form">
          <div class="search-form__wrapper">
            <input type="text" class="search-form__input" placeholder="Поиск">
            <button class="search-form__search-btn"><i class="icon-search"></i></button>
          </div>
        </form>
      </nav>
    </div>
</header>
