<section class="offer">
    <div class="container">
        <div class="offer__wrapper">
            <div class="offer__form-wrapper">
                <h2 class="title">Быстрая бронь</h2>
                <form action="https://jsonplaceholder.typicode.com/posts" method="POST" class="offer__form">
                    <input class="offer__input" name="city" required type="text"  placeholder="Город">
                    <input class="offer__input" name="room" required type="text"  placeholder="Категория номера">
                    <input class="offer__input" name="date" required type="date"  placeholder="Дата заселения">
                    <input class="offer__input" name="nights" required min="1" max="7" minlength="1" maxlength="7" type="number"  placeholder="Количество ночей">
                    <input class="offer__input" name="visitors" required minlength="1" maxlength="10" type="number"  placeholder="Количество гостей">
                    <div class="offer__footer">
                        <button class="offer__btn btn btn-primary">Найти номер</button>
                        <div class="offer__available"><span>9 756</span> предложений доступно</div>
                    </div>
                </form>
            </div>
            <div class="offer__premium">
                <h2 class="title">Спецпредложение</h2>
                <div class="offer__premium-wrapper">
                    <div class="offer__premium-item">
                        <img class="offer__premium-img" src="/assets/img/offer-1.jpg" alt="Offer">
                        <div class="offer__premium-info">
                            <div class="offer__premium-title">Номера категории люкс</div>
                            <span class="offer__premium-price">от 5 000 р</span>
                            <a href="#" class="offer__premium-more">Подробнее <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
