<section class="offer">
    <div class="container">
        <div class="offer__wrapper">
            <div class="offer__form-wrapper">
                <h2 class="offer__title">Быстрая бронь</h2>
                <form action="#" class="offer__form">
                    <input type="text" class="offer__input" placeholder="Город">
                    <input type="text" class="offer__input" placeholder="Категория номера">
                    <input type="text" class="offer__input" placeholder="Дата заселения">
                    <input type="text" class="offer__input" placeholder="Количество ночей">
                    <input type="text" class="offer__input" placeholder="Количество гостей">
                    <div class="offer__footer">
                        <button class="offer__btn btn btn-primary">Найти номер</button>
                        <div class="offer__available"><span>9 756</span> предложений доступно</div>
                    </div>
                </form>
            </div>
            <div class="offer__premium">
                <h2 class="offer__title">Спецпредложение</h2>
                <div class="offer__premium-wrapper">
                    <div class="offer__premium-item">
                        <img class="offer__premium-img" src="/assets/img/offer-1.jpg" alt="Offer">
                        <div class="offer__premium-info">
                            <h1 class="offer__premium-title">Номера категории люкс</h1>
                            <div class="offer__premium-price">от 5 000 р</div>
                            <a class="offer__premium-more">Подробнее <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
