<section class="places">
    <div class="container">
        <div class="places__title">Размещение</div>
        <div class="places__list">
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-1.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">
                            от <span>4 698  р</span> / ночь
                        </div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona española</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-2.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">от <span>5 148  р</span> / ночь</div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona son típicas</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-3.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">
                            от <span>6 254  р</span> / ночь
                        </div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona de la guerra</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-4.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">
                            от <span>6 320  р</span> / ночь
                        </div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona mentira piadosa</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-5.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">
                            от <span>6 457</span>р / ночь
                        </div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona empujar la creatividad</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-6.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">
                            от <span>6 490  р</span> / ночь
                        </div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona el retorno</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-7.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">
                            от <span>6 505  р</span> / ночь
                        </div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona enfermo terminó</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item">
                <div class="places__item-img">
                    <img src="/assets/img/places-8.webp" alt="">
                </div>
                <div class="places__item-inner">
                    <div class="places__item-details">
                        <div class="places__item-price">
                            от <span>6 824  р</span> / ночь
                        </div>
                        <div class="places__item-rating"></div>
                    </div>
                    <div class="places__item-title">Lagoona suerte siguió siempre</div>
                    <div class="places__item-description">Барселона, Испания</div>
                    <button class="places__item-btn btn btn-default">Номера</button>
                </div>
            </div>
            <div class="places__item all-places">
                <img src="/assets/img/places-all.webp" alt="">
                <div class="places__item-title">Посмотреть все варианты
                <i class="icon icon-arrow-right-white"></i></div>
            </div>
        </div>
    </div>
</section>
