<section class="services">
    <div class="container">
        <h2 class="title">Услуги</h2>
        <ul class="services__list">
            <li class="services__item">
                <div class="services__item-img">
                    <img src="./assets/img/services-1.png" alt="">
                </div>
                <div class="services__item-inner">
                    <a href="#" class="services__item-title">
                        Эксклюзивное обслуживание
                        <i class="icon-arrow-right-dark"></i>
                    </a>
                    <div class="services__item-text">
                        Равным образом постоянный количественный рост и сфера нашей активности
                    </div>
                </div>
            </li>
            <li class="services__item">
                <div class="services__item-img">
                    <img src="./assets/img/services-2.png" alt="">
                </div>
                <div class="services__item-inner">
                    <a href="#" class="services__item-title">
                        Аренда банкетных залов
                        <i class="icon-arrow-right-dark"></i>
                    </a>
                    <div class="services__item-text">
                        Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм.
                    </div>
                </div>
            </li>
            <li class="services__item">
                <div class="services__item-img">
                    <img src="./assets/img/services-3.png" alt="">
                </div>
                <div class="services__item-inner">
                    <a href="#" class="services__item-title">
                        Сауны, бассейны, бани, фитнес-залы
                        <i class="icon-arrow-right-dark"></i>
                    </a>
                    <div class="services__item-text">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции
                    </div>
                </div>
            </li>
            <li class="services__item">
                <div class="services__item-img">
                    <img src="./assets/img/services-4.png" alt="">
                </div>
                <div class="services__item-inner">
                    <a href="#" class="services__item-title">
                        Охраняемые автомобильные стоянки
                        <i class="icon-arrow-right-dark"></i>
                    </a>
                    <div class="services__item-text">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
